@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card: #121212;
  --primary: #ffffff;
  --secondary: #a1a1aa;
  --accent: #27272a;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}